<div style="margin: 20px;" class="ant-input-number">
    <div class="ant-input-number-handler-wrap">
        <span ng-click="up()" class="ant-input-number-handler ant-input-number-handler-up ">
            <span class="ant-input-number-handler-up-inner"></span>
        </span>
        <span ng-click="down()" class="ant-input-number-handler ant-input-number-handler-down ">
            <span class="ant-input-number-handler-down-inner"></span>
        </span>
    </div>
    <div class="ant-input-number-input-wrap">
        <input min="1" max="10" class="ant-input-number-input" ng-model="iValue">
    </div>
</div>