<div  class="ant-message" >
    <div ng-if="tIfDisplay" class="ant-message-notice">
        <div class="ant-message-notice-content">
            <div class="ant-message-custom-content {{aType=='1' ? 'ant-message-success':''}} {{aType=='2' ? 'ant-message-error':''}} {{aType=='3' ? 'ant-message-warning':''}} ">
                <i class="anticon {{aType=='1' ? 'anticon-check-circle':''}} {{aType=='2' ? 'anticon-close-circle':''}} {{aType=='3' ? 'anticon-exclamation-circle':''}}"></i>
                <span>{{aText}}</span>
            </div>
        </div>
    </div>
</div>
